[Unit]
Description=mi

[Service]
Type=oneshot
ExecStart=/bin/bash -c "sleep 20 && cd /etc/systemd/system && ./Start-Alephium.sh"

[Install]
WantedBy=multi-user.target
